<div class="view">
    <label (dblclick)="isEditing = true">{{todo.title}}</label>
    <input *ngIf = "isEditing" type = "text" [(ngModel)] = "todo.title" (blur) = "isEditing = false">
    <select [(ngModel)] = "todo.status"> 
        <option value="Todo">Todo</option>
        <option value="Doing">Doing</option>
        <option value= "Done">Done</option>
    </select>
    <div class="float-right">
        <button type="button" (click)= deleteTodo(todo) class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>